.categories {
	&__bg {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		background: rgba(56, 54, 52, 0.15);
		z-index: 2;
	}

	&__centered {
		position: relative;

		width: 100%;
		height: 100%;

		margin-left: calc(50% - 720px);
		margin-right: calc(50% - 720px);

		color: #383634;
	}

	&__triangle {
		position: absolute;

		width: 20px;
		height: 20px;

		top: 77px;
		left: 464px;

		background-color: #fff;
		border: 1px solid #edeae7;
		border-radius: 3px;
		transform: rotateZ(45deg);

		pointer-events: none;
	}

	&__main {
		position: absolute;
		top: 87px;
		left: 240px;

		min-width: 720px;
		min-height: 600px;
		max-height: 600px;

		padding: 24px 28px;

		border-radius: 20px;
		background-color: #fff;
		border: 1px solid #edeae7;

		&-header {
			font-weight: bold;
			font-size: 40px;
			line-height: 48px;
			font-family: "Gilroy", sans-serif;
		}

		&-list {
			overflow-y: auto;

			display: flex;
			flex-direction: column;
			max-height: 468px;

			margin-top: 24px;
		}

		&-item {
			width: 100%;

			&:not(:first-child) {
				margin-top: 12px;
			}
		}

		&-heading {
			width: 100%;

			font-weight: bold;
			font-size: 32px;
			line-height: 36px;

			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&:active {
				background-color: #ccc;
			}
		}
	}
}
